<service>
  <id>RoboTareffa</id>
  <name>Robo Tareffa - Guias de Contas Pagas</name>
  <description>Monitora pastas de clientes e envia guias de contas pagas para o storage do Tareffa.</description>

  <executable>{{EXECUTABLE}}</executable>
  <arguments>{{ARGUMENTS}}</arguments>

  <logpath>{{LOGPATH}}</logpath>
  <logmode>roll-by-size</logmode>
  <sizeThreshold>10240</sizeThreshold>
  <keepFiles>8</keepFiles>

  <startmode>Automatic</startmode>
  <onfailure action="restart" delay="10 sec"/>
  <onfailure action="restart" delay="30 sec"/>

{{SERVICEACCOUNT_BLOCK}}
</service>
